/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h4{
    margin-right: 40px;
    margin-left: 40px;
 }

 body{
  margin-top: 0px;
 }

 .rightbar{
  position: fixed;
  float: right;
  right: 0;
  height: 100%;
  width: 20%;
  background-color: #2E9AFE;
 }

 .center{
  position: relative;
  width: 80%;
  float: left;
 }

 .userinformation{
  margin: 40px;
 }

 .Questionfeed{
  margin-right: 40px;
  margin-left: 40px;
  background-color: #2E9AFE;
  border-color: #fe922e;
  border-style: solid;
 }
