<div class="leftbar">
  <div class = "squares">
  V
  </div>

  <ul>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
  </ul>
  <a href="#" class="open">&rarr;</a>
</div>