    <div class="contain-to-grid">
      <nav class="top-bar" data-topbar role="navigation">
        <!-- <div class = "row" style="margin: 0; height: 40px; border-bottom-style: solid; border-color: white;">
        </div> -->
        <div class = "row" style="padding-left:50px; padding-top:30px; margin:0;">
          <img src="/images/vyvlogo.png"></img>
        </div>
      </nav>
    </div>